.personal {
  padding: 20px;
  padding-bottom: var(--mini-player-height);
}

.user-info {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.logout-btn {
  background-color: #ff3b30;
  color: #fff;
}
