.player-container {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  &.empty {
    justify-content: center;
    align-items: center;
    color: #999;
    .back-link {
        margin-top: 40rpx;
        color: var(--font-color-primary);
    }
  }
}

.header {
  height: 100rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30rpx;
  margin-top: 80rpx; /* Safe area */
}

.header-btn {
  padding: 10rpx;
}

.icon-btn {
  font-size: 48rpx;
  color: #333;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 40rpx 60rpx;
  justify-content: space-between;
}

.artwork-lyric-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.artwork-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork {
  width: 400rpx;
  height: 400rpx;
  border-radius: 20rpx;
  box-shadow: 0 20rpx 60rpx rgba(0,0,0,0.15);
  background-color: #eee;
}

.lyrics-container {
  width: 100%;
  height: calc(100vh - 600rpx);
  overflow: hidden;
}

.lyrics-scroll {
  height: 100%;
  width: 100%;
}

.lyric-line {
    padding: 20rpx 0;
    text-align: center;
    transition: all 0.3s;
}

.lyric-text {
    font-size: 32rpx;
    color: #999;
}

.lyric-line.active {
    .lyric-text {
        font-size: 36rpx;
        color: #000;
        font-weight: bold;
    }
}

.no-lyrics {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #999;
}

.bottom-controls {
    display: flex;
    flex-direction: column;
}

.info-row {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin-bottom: 40rpx;
}

.track-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 40rpx;
}

.track-title {
    font-size: 40rpx;
    font-weight: bold;
    color: #000;
    margin-bottom: 8rpx;
}

.track-artist {
    font-size: 28rpx;
    color: #666;
}

.action-btns {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.action-btn {
    padding: 10rpx;
    margin-left: 20rpx;
}

.action-icon {
    font-size: 48rpx;
    color: #333;
}

.progress-area {
    margin-bottom: 40rpx;
}

.time-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time-text {
    font-size: 24rpx;
    color: #999;
    width: 80rpx;
    text-align: center;
}

.slider {
    flex: 1;
    margin: 0 20rpx;
}

.player-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-ctrls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ctrl-btn {
    padding: 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctrl-icon {
    font-size: 60rpx;
    color: #333;
}

.ctrl-icon-small {
    font-size: 48rpx;
    color: #666;
}

.play-pause-btn {
    width: 100rpx;
    height: 100rpx;
    border-radius: 50%;
    background-color: #333;
    margin: 0 40rpx;
    
    .ctrl-icon-large {
        font-size: 48rpx;
        color: #fff;
    }
}

